<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421121737463-n1663bv22up1ucoqm3ahs1rbqir5ea32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421121737463-n1663bv22up1ucoqm3ahs1rbqir5ea32</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>421121737463-5vppf62so8nm1arnpr8vtd9m3q2imnt1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5snSgxptoOgXiTCiE0kgSitQiZ7Oyhqc</string>
	<key>GCM_SENDER_ID</key>
	<string>421121737463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.2fellows.safesafe</string>
	<key>PROJECT_ID</key>
	<string>exat-member-ceacc</string>
	<key>STORAGE_BUCKET</key>
	<string>exat-member-ceacc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421121737463:ios:946ce5939d86bab50009f2</string>
	<key>DATABASE_URL</key>
	<string>https://exat-member-ceacc.firebaseio.com</string>
</dict>
</plist>